.App {
  background-color: #101820;
  font-family: 'Roboto', ;
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F2AA4C;
}

h1 {
  margin: 1%;
  font-size: 3rem;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  color: #F2AA4C;
  margin: 5px 0;
}

a:link {
  text-decoration: none;
  color: #F2AA4C;
}

a:visited {
  text-decoration: none;
  color: #F2AA4C;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: none;
  color: #F2AA4C;
}

input[type="text"], input[type="number"] {
  background-color: #F2AA4C;
  border: 1px solid #00203F;
  padding: 8px 6px 8px 10px;
  border-radius: 0.3rem;
  line-height: 1.1rem;
  align-self: center;
  color: #101820;
  font-size: 1rem;
  height: 2.5rem;
  outline: none;
}

.city {
  width: 15rem;
}

.CitySearch {
  flex-direction: column;
  color: #101820;
  display: flex;
}

.suggestions {
  border-radius: 10px;
  color: #101820;
  align-self: center;
  font-size: 1rem;
  width: 15rem;
  margin: 0;
}

.suggestions > li {
  background-color: #F2AA4C;
  padding: 8px 6px 8px 10px;
  color: #101820;
  text-align: left;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: #101820;
  color: #F2AA4C;
  cursor:pointer;
}

.event {
  border: 1px solid #F2AA4C;
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  color: #F2AA4C;
  border-radius: 4px;
  position: relative;
  text-align: left;
}

/*===Event details===*/
.event-details {
  text-align: left;
  font-size: 1rem;
}

.event-overview-name {
  margin-bottom: 0.4rem;
}

.event-overview-date {
  margin-bottom: 0.2rem;
}

.event-details-venue,
.event-details-address {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.event-details span {
  font-size: 1.1rem;
  font-weight: 700;
}

/*===Event Button===*/
.event-details-btn {
	background:linear-gradient(to bottom, #F2AA4C 5%, #101820 100%);
	background-color:#101820;
  border:1px solid #F2AA4C;
	text-decoration:none;
	display:inline-block;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	color:#ffffff;
  transition: 1s;
	cursor:pointer;
  font-size:1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.event-details-btn:hover {
  background:linear-gradient(to bottom, #101820 5%, #F2AA4C 100%);
  color:#F2AA4C;
}

.event-details-btn.active {
	top:1px;
}

.event-overview span {
  font-weight: 600;
}

.event-overview-name {
  color: #F2AA4C;
  font-weight: 700;
  font-size: 1.5rem;
}

.event-overview-date {
  color: #F2AA4C;
  font-size: 1.2rem;
}

.event-overview-time {
  color: #F2AA4C;
  font-size: 1.2rem;
}

.group-name {
  text-transform: uppercase;
  color: #F2AA4C;
  font-size: 1.2rem;
}

.going, .visibility {
  font-style: italic;
}

.event-details-description {
  overflow-x: hidden;
}

.numberOfEvents {
  border: 1;
  flex-direction: column;
  text-align: right;
  display: flex;
  width: 200px;
  margin: auto;
}

.numberOfEvents label {
  text-align: center;
  color: #F2AA4C;
  font-size: 1.5rem;
  font-weight: 700;
}

.numberOfEvents input {
  background-color: #101820;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #F2AA4C;
}

#numberOfEventsInput {
  text-align: center;
  width: 3rem;
}

/*=====Alerts=====*/
.text-alert {
  text-align: center;
  font-size: 1rem;
  height: 1.1rem;
}

.city-text-alert {
  text-align: center;
  font-size: 1rem;
  height: 1.1rem;
  margin: 0.5rem;
}