.App {
  background-color: #101820FF;
  font-family: 'Roboto', ;
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F2AA4CFF;
}

h1 {
  margin: 2%;
  font-size: 48px;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  color: #F2AA4CFF;
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  background-color: #F2AA4CFF;
  border: 1px solid #00203FFF;
  padding: 8px 6px 8px 10px;
  color: #101820FF;
  align-self: center;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  outline: none;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  flex-direction: column;
  color: #101820FF;
  display: flex;
}

.suggestions {
  border-radius: 10px;
  color: #101820FF;
  align-self: center;
  font-size: 14px;
  width: 250px;
  margin: 0;
}

.suggestions > li {
  background-color: #F2AA4CFF;
  padding: 8px 6px 8px 10px;
  color: #101820FF;
  text-align: left;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: #101820FF;
  color: #F2AA4CFF;
  cursor:pointer;
}

.event {
  border: 1px solid #F2AA4CFF;
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  color: #F2AA4CFF;
  border-radius: 4px;
  position: relative;
  text-align: left;
}

.event-details-btn {
	background:linear-gradient(to bottom, #F2AA4CFF 5%, #101820FF 100%);
  box-shadow:inset 0px 1px 3px 0px #F2AA4CFF;
	text-shadow:0px -1px 0px #2b665eff;
	background-color:#101820FF;
	border:1px solid #F2AA4CFF;
	text-decoration:none;
	display:inline-block;
	padding:11px 23px;
	border-radius:5px;
	color:#ffffffff;
	cursor:pointer;
  font-size:16px;
}

.event-details-btn:hover {
  background:linear-gradient(to bottom, #101820FF 5%, #F2AA4CFF 100%);
	background-color:#101820FF;
}

.event-details-btn.active {
	top:1px;
}

.event-overview-name {
  color: #F2AA4CFF;
  font-weight: 600;
  font-size: 22px;
}

.event-overview-date {
  color: #F2AA4CFF;
  font-weight: 600;
  font-size: 18px;
}

.event-overview-time {
  color: #F2AA4CFF;
  font-weight: 600;
  font-size: 18px;
}

.group-name {
  text-transform: uppercase;
  color: #F2AA4CFF;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
}

.event-details-description {
  overflow-x: hidden;
}

.numberOfEvents {
  text-align: right;
  margin: 3% 0 5%;
  width: 200px;
}

.numberOfEvents label {
  color: #F2AA4CFF;
  margin-right: 15%;
}
